<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=1200&amp;h=1200.0&amp;fit=crop" alt="No image found" width="30" height="24" class="d-inline-block align-text-top">
      Mausam : A Weather App
    </a>
  </div>
</nav>

<section class="d-flex flex-wrap justify-content-center">
  <input class="mt-4" #cityname type="text" placeholder="city" />
  &nbsp;&nbsp;
  <button (click)="findData(cityname.value)" class="btn btn-success btn-sm mt-4">Search</button>
</section>

<div *ngIf="isSearched" class="card-container">
  <div class="card" style="width: 17rem;">
    <img class="card-img-top" src="{{place.current.weather_icons[0]}}" alt="Card image cap">
    <div class="card-body">
      <div>{{place.location.name}},&nbsp;{{place.location.region}}&nbsp;({{place.location.country}})</div>
      <div>Temperature&nbsp;{{place.current.temperature}}&nbsp; | Humidity&nbsp;{{place.current.humidity}}</div>
      <div>Feels like&nbsp;{{place.current.feelslike}}&nbsp; | Visibility&nbsp;{{place.current.visibility}}</div>
      <h3>{{place.current.weather_descriptions}}</h3>
    </div>
  </div>
</div>





